@model IList<ProductOverviewModel>
@inject DisplayOrderHomePage order
@if (Model.Any())
{
    <div class="product-grid order-@order.HomePageBestSellers">
        <h2 class="generalTitle text-center">@T("Bestsellers")</h2>
        <div class="col-12 px-0">
            <div class="row g-0">
                @foreach (var item in Model)
                {
                    <div class="col-xl-@order.Bs_Xl col-lg-@order.Bs_Lg col-md-@order.Bs_Md col-sm-@order.Bs_Sm col-@order.Bs_Col  product-container mb-2">
                        <partial name="_ProductBoxFixedSize" model="item" />
                    </div>
                }
            </div>
        </div>
    </div>
}