@model NewsletterBoxModel
<div class="newsletter mt-3 col-12">
    <div class="container">
        <div class="row">
            <div class="col-12 text-white">
                <h4 class="text-uppercase"><span class="icon iconify me-3" data-icon="bi:tags"></span>Novidades e cupons de desconto</h4>
                <p>Insira seu email para receber as novidades e diversos cupons de desconto. Não perca esta oportunidade de desfrutar de grandes <strong>PROMOÇÕES</strong>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <div class="input-group input-group-lg" style="max-width: 400px;">
                        <input class="form-control" id="newsletter-email" style="height: 48px; border:0;" asp-for="NewsletterEmail" placeholder="@T("Newsletter.Email.Placeholder")" aria-label="@T("Newsletter.Email.Placeholder")" />
                        <button type="button" class="btn btn-outline-light newsletter-button-container" id="newsletter-subscribe-button"><span class="icon-sm iconify" data-icon="mdi:envelope"></span></button>
                    </div>
                    <span asp-validation-for="NewsletterEmail"></span>
                    <span id="subscribe-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                    <input type="hidden" id="newsletterbox" data-href="@(Url.RouteUrl("SubscribeNewsletter"))" data-allowtounsubscribe=@Model.AllowToUnsubscribe />
                    <div class="newsletter-result text-center text-white w-100" id="newsletter-result-block"></div>
                </div>
            </div>
        </div>
    </div>
</div>
