@model ShoppingCartLinksModel
<div class="col-auto d-flex align-items-center">
    <a class="theme-color-dark position-relative" href="@Url.RouteUrl("Wishlist")">
        <span class="icon iconify" data-icon="bi:heart"></span>
        @if (Model.WishlistItems > 0)
        {
            <span class="icon-quantity">@T("Wishlist.HeaderQuantity", Model.WishlistItems)</span>
        }
    </a>
</div>
<div class="col-auto d-flex align-items-center">
    <a class="theme-color-dark position-relative js-offcanvas-trigger" data-offcanvas-trigger="right" href="#right">
        <span class="icon iconify" data-icon="bi:cart3"></span>
        @if (Model.ShoppingCartItems > 0)
        {
            <span class="icon-quantity">@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</span>
        }
    </a>
</div>