@model EstimateShippingModel
<div class="shipping">
    <script asp-location="Footer">
        $(document).ready(function () {
            $('#estimate-shipping-button').click(function() {
                displayAjaxLoading(true);
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "@(Url.RouteUrl("EstimateShipping"))",
                    data: $("#shopping-cart-form").serialize(),
                    success: function(data) {
                        displayAjaxLoading();
                        $('.estimate-shipping-result').html(data);
                        $('.shipping-obs').removeAttr('style');
                        fbq('trackCustom', 'ShippingCalc', {cep: $("#ZipPostalCode").val()});
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        displayAjaxLoading();
                        alert('Failed to retrieve estimate shipping.');
                    }
                });
            });
            
            $("#@Html.IdFor(model => model.ZipPostalCode)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#estimate-shipping-button").trigger("click")
                    return false;
                }
            });
        });
    </script>

    <div id="estimate-shipping" class="estimate-shipping">
        <div class="title mb-2">
            <img src="Themes/Corujinha/Content/Images/delivery-truck.png" height="60" class="mr-3"/>
            <strong>@T("ShoppingCart.EstimateShipping")</strong>
        </div>

        <div class="form-group">
            <label asp-for="ZipPostalCode">CEP:</label>
            <div class="input-group">
                <input asp-for="ZipPostalCode" class="form-control zip-input" />
                <div class="input-group-append">
                    <input id="estimate-shipping-button" type="button" value="Calcular frete" class="btn btn-outline-secondary float-xs-right estimate-shipping-button" />
                </div>
            </div>
            <small class="form-text text-muted"><strong>Frete grátis</strong> para compras acima de <strong class="text-success">R$169,00</strong>.</small>
        </div>
    </div>
    <div class="col-12 px-0 generalMarginSupporter">
        <div class="estimate-shipping-result pb-3">

        </div>
    </div>
</div>