@model List<SelectListItem>
<div class="script-tag">
    <script>
            function renderShippingOptionInfo(param) {
                if (param != "") {
                    var _url = '/SelectedShippingPoint/Get?shippingOptionId=' + param;
                    axios({
                        url: _url,
                    }).then(response => {
                        document.getElementById("shippingOptionInfo").innerHTML = response.data;
                    });
                }
                else {
                    document.getElementById("shippingOptionInfo").innerHTML = "";
                }
            }
    </script>
</div>

<h6>@T("Plugins.Shipping.ShippingPoint.ChooseShippingPoint")</h6>
<select class="form-control" name="selectedShippingOption" onchange="renderShippingOptionInfo(value)">
    @foreach (var shippingOption in Model)
    {
        <option value="@shippingOption.Value">@shippingOption.Text</option>
    }
</select>

<div id="shippingOptionInfo"></div>