@model LogoModel
<b-navbar-brand href="@Url.RouteUrl("HomePage")" class="ml-lg-0 mr-lg-auto mx-auto">
    <b-img src="@Model.LogoPath" fluid alt="@Model.StoreName"></b-img>
    <span class="sr-only">@T("admin.configuration.shipping.providers.fields.logo")</span>
</b-navbar-brand>