/* commons */

a {
    color: #17a2b8;
}
a:hover {
    color: #02899C;
    text-decoration: none;
}
.dropdown-menu {
    min-width: unset;
}
.required {
    color: #dc3545;
}
.col-form-label {
    font-weight: 500;
}
.field-validation-error {
    color: #dc3545;
    font-weight: 500;
}
.custom-control {
    cursor: pointer;
}
.disabled {
    pointer-events: none;
}
.eu-cookie-bar-notification {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1050;
}
[v-cloak] .page-loader-container::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1040;
}
[v-cloak] .page-loader,
[v-cloak] .page-loader:before,
[v-cloak] .page-loader:after {
    border-radius: 50%;
}
[v-cloak] .page-loader {
    color: #01b7f4;
    margin: 22.5px auto;
    position: fixed;
    top: calc(50% - 22.5px);
    left: calc(50% - 22.5px);
    width: 53px;
    height: 53px;
    box-shadow: inset 0 0 0 5px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 1041;
}
[v-cloak] .page-loader:before,
[v-cloak] .page-loader:after {
  position: absolute;
  content: '';
}
[v-cloak] .page-loader:before {
  width: 27.5px;
  height: 55px;
  background: #01b7f4;
  background-color: #fff;
  border-radius: 55px 0 0 55px;
  top: -1px;
  left: -1px;
  -webkit-transform-origin: 27.5px 27.5px;
  transform-origin: 27.5px 27.5px;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
[v-cloak] .page-loader:after {
  width: 27.5px;
  height: 55px;
  background: #01b7f4;
  background-color: #fff;
  border-radius: 0 27.5px 27.5px 0;
  top: -1px;
  left: 27.5px;
  -webkit-transform-origin: -1px 27.5px;
  transform-origin: -1px 27.5px;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.back-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-size: 24px;
    background: #17a2b8;
    border-radius: 100%;
    z-index: 1039;
    cursor: pointer;
}

/* buttons */

.btn {
    font-weight: 500;
}
.btn-secondary {
    background-color: #333;
    border-color: #333;
}
.btn-secondary:hover, .btn-secondary.focus, .btn-secondary:focus, .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    background-color: #000;
    border-color: #000;
}
.btn-outline-secondary {
    color: #333;
    border-color: #333;
}
.btn-outline-secondary:hover {
    background-color: #333;
    border-color: #333;
}

/* headings */

.generalTitle {
    margin: 0 0 15px 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
}
dl, ol, ul {
    list-style-type: none;
}

/* utilities */

.generalMarginSupporter {
    margin: 15px 0;
}

/* modals */

.modal-place .b-overlay-wrap {
    position: fixed !important;
    width: 100%;
    height: 100%;
    z-index: 1050;
}

/* rating */

.b-rating {
    background-color: transparent;
}

/* product box */

.product-box {
    border: 0;
}
.product-box:hover {
    z-index: 3;
}
.product-box *,
.product-box .card-footer * {
    z-index: 2;
}
.product-box::before {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    background: #fff;
    border: 1px solid transparent;
    border-bottom: 0;
    border-radius: .25rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.product-box:hover::before {
    border-color: rgba(0,0,0,.2);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.product-box .picture-container {
    position: relative;
    overflow: hidden;
}
.product-box .hover-img {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.product-box:hover .hover-img {
    opacity: 1;
    visibility: visible;
}
.product-box .hover-img.img-second {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}
.product-box .card-body {
    padding: 10px 0;
}
.product-box .quick-view-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.product-box:hover .quick-view-button {
    transform: translateY(0);
    -webkit-transform: translateY(0);
}
.product-box .card-title {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}
.product-box .rating {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    width: 100%;
}
.product-box .b-rating .b-rating-star {
    padding: 0 2px;
}
.product-box .rating .b-rating + span {
    position: relative;
    font-size: 14px;
    font-weight: 500;
}
.product-box .rating .b-rating + span::before {
    content: "/";
    margin: 0 3px;
}
.product-box .prices {
    display: inline-flex;
    align-items: flex-end;
    flex-wrap: wrap;
}
.product-box .actual-price {
    color: #17a2b8;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}
.product-box .old-price {
    margin: 0 0 0 5px;
    color: #999;
    font-size: 16px;
    font-weight: 400;
    text-decoration: line-through;
    line-height: 1;
}
.product-box .card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    background: #fff;
    border: 0;
    padding: 0;
    z-index: 2;
}
.product-box:hover .card-footer {
    opacity: 1;
    visibility: visible;
}
.product-box .card-footer::before {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0 10px 10px rgba(0,0,0,.2);
    border-top: 0;
    border-radius: .25rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: -1;
}
.product-box:hover .card-footer::before {
    border-color: rgba(0,0,0,.2);
}
.product-box .attr-name {
    font-size: 14px;
    font-weight: 500;
}
.product-box .attr-value {
    margin: 0 0 0 5px;
}
.product-box .attr-value .btn {
    margin: 0 0 3px 0;
    font-size: 13px;
    font-weight: 400;
}
.product-box .desc {
    position: relative;
    color: #777;
    font-size: 14px;
    max-height: 85px;
    margin: 0;
    overflow: hidden;
}
.product-box .btn-group {
    width: 100%;
    margin: 10px 0 0 0;
}
.product-box .add-cart-text {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

/* product box list */

.product-box.list {
    flex-direction: row;
    width: 100%;
}
.product-box.list .picture-container {
    flex: 1
}
.product-box.list .card-body {
    flex: 3;
    padding: 0 0 0 10px;
}
.product-box.list::before {
    border-bottom: 1px solid transparent;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
.product-box.list:hover::before {
    border-bottom-color: rgba(0,0,0,.2);
}
.product-box.list .btn-group {
    width: auto;
}

/* container wide */

.main-container.container-fluid .product-box.list .card-body {
    flex: 4;
}

/* color container */

.btn.color-container {
    margin: 0 3px 3px 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    border-radius: 100%;
}
.color-container .color {
    display: flex;
    width: 25px;
    height: 25px;
    border: 1px solid #efefef;
    border-radius: 100%;
}

/* autocomplete */

.vbt-autcomplete-list[data-v-48792d67] {
    max-height: 350px;
    overflow-y: auto;
    padding-top: 5px;
    position: absolute;
    z-index: 999
}

/* breadcrumb */

.breadcrumb {
    padding: 15px 0;
    background-color: transparent;
}
.breadcrumb-item.active {
    color: #000;
}

/* newsletter */
.newsletter {
    padding: 45px 15px;
}
.newsletter .newsletter-title {
    color: #fff;
    font-size: 44px;
    font-weight: 700;
}
.newsletter .newsletter-desc {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

/* footer */

footer .list-group {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
footer .list-group-item-action {
    width: auto;
    padding: 10px 14px;
    font-size: 13px;
    font-weight: 400;
    border: 0;
    border-radius: 0;
}
footer .list-group-item:not(.list-group-item-action) {
    border: 0;
    background-color: #f8f9fa;
}
footer .list-group.social-icons .list-group-item {
    background-color: transparent;
}
footer .list-group-item span:first-child {
    font-size: 14px;
    font-weight: 500;
}
footer .list-group-item span:last-child {
    font-size: 14px;
    font-weight: 400;
}

/* forum */

.quote {
    margin: 5px 0;
    padding: 10px;
    border: 1px dashed #ddd;
}
 
/* media */

@media (min-width: 992px) {
    .main-container.container-fluid .product-grid .product-container.col-lg-4 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@media (min-width: 1200px) {
    .main-container.container-fluid .categoryGrid .col-md-4 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .main-container.container-fluid .product-grid .product-container.col-xl-3 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .main-container.container-fluid .featured-product-container.col-xl-6 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
@media (max-width: 991px) {
    footer .list-group-item:not(.list-group-item-action) {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        text-align: right;
    }
}
@media (max-width: 768px) {
    .product-box.list .picture-container {
        flex: 2;
    }
}
@media (max-width: 575px) {
    .product-box .rating .b-rating-value,
    .product-box .rating output + span {
        display: none;
    }
    .product-box .quick-view-button {
        font-size: 14px;
    }
    .b-sidebar > .b-sidebar-header {
        font-size: 16px;
    }
}