@{
    Layout = "_ConfigurePlugin";
}

@model MercadoPagoSettingsModel
@using Owl.Grand.Plugin.Payments.MercadoPago.Models
@using Grand.Framework;
@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="MercadoPago" asp-action="Configure" method="post">
    <div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    <admin-label asp-for="IsSandbox" class="control-label" />
                </div>
                <div class="col-md-9 col-sm-9">
                    <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                        <admin-input asp-for="IsSandbox" />
                        <div class="control__indicator"></div>
                    </label>
                    <span asp-validation-for="IsSandbox"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    <admin-label asp-for="PublicKey" class="control-label" />
                </div>
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="PublicKey" />
                    <span asp-validation-for="PublicKey"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    <admin-label asp-for="AccessToken" class="control-label" />
                </div>
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="AccessToken" />
                    <span asp-validation-for="AccessToken"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    <admin-label asp-for="PublicKeySandbox" class="control-label" />
                </div>
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="PublicKeySandbox" />
                    <span asp-validation-for="PublicKeySandbox"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    <admin-label asp-for="AccessTokenSandbox" class="control-label" />
                </div>
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="AccessTokenSandbox" />
                    <span asp-validation-for="AccessTokenSandbox"></span>
                </div>
            </div>
        </div>

        <div class="form-actions">
            <div class="row">
                <div class="offset-md-3 offset-sm-3 col-md-9 col-sm-9">
                    <input type="submit" name="save" class="btn green" value="@T("Admin.Common.Save")" />
                </div>
            </div>
        </div>
    </div>
</form>
