@{
    Layout = "";
}
<div class="row">
    <img class="img-responsive" style="margin: auto; max-width:100%;" src="~/Plugins/Owl.Grand.Plugin.Payments.MercadoPago/Content/Images/payment-methods.png" alt="">
    <p class="text-justify p-3">
        Você escolhe a forma de pagamento na próxima etapa, após confirmar o pedido. Clique em <strong>"Continuar"</strong>.
    </p>
</div>