@inject Grand.Core.Configuration.GrandConfig config
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{ 
    var GoogleTagManager = Configuration["GoogleTagManager"];
}
<!DOCTYPE html>
<html use-lang="false">
<head>
    <title asp-default-title="true"></title>
    <meta charset="utf-8">
    <meta-description>
    <meta-keywords>
    <meta name="generator" content="grandnode">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    @*<link rel="manifest" href="/manifest.webmanifest" />*@
    <head-custom>
    @*This is used so that themes can inject content into the header*@
    <partial name="Head" />
    <vc:widget widget-zone="head_html_tag" additional-data="null"></vc:widget>
    @*@Html.GrandCssFiles(this.Url, ResourceLocation.Head)*@
    <css-files asp-location="Head">
    <canonical-urls>
    <vc:news-rss-header-link></vc:news-rss-header-link>
    <vc:blog-rss-header-link></vc:blog-rss-header-link>
    @*Favicon - upload favicon.ico file to the root directory*@
    <vc:favicon></vc:favicon>
    @if (config.DisplayMiniProfilerInPublicStore)
    {
        <mini-profiler />
    }
    <environment include="Production">
        <!-- Google Tag Manager -->
        <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window, document, 'script', 'dataLayer', '@GoogleTagManager');
        </script>
        <!-- End Google Tag Manager -->
    </environment>
    <script-files asp-location="Head">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=@(GoogleTagManager)"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <resources asp-type="ScriptHeader" />
    <partial name="_Loading" />
    @RenderBody()
    <css-files asp-location="Footer">
        <script-files asp-location="Footer">
            <resources asp-type="ScriptFooter" />


</body>
</html>
