<header role="presentation">
    @await Component.InvokeAsync("Widget", new { widgetZone = "header" })
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-12 col-md-auto">
                @await Component.InvokeAsync("Logo")
            </div>
            <div class="col-12 col-md mb-2 mb-md-0">
                @await Component.InvokeAsync("SearchBox")
            </div>
            <div class="col-auto d-flex user-menu">
                <div class="row col">
                    <div class="d-none d-md-block col-auto">
                        <a class="theme-color-dark js-offcanvas-trigger d-block position-relative" data-offcanvas-trigger="user_panel" href="#user_panel">
                            <span class="icon-lg iconify" data-icon="bi:person"></span>
                        </a>
                    </div>

                    <a class="d-md-none col d-flex align-items-center justify-content-center category js-offcanvas-trigger" data-offcanvas-trigger="mobile_menu" href="#mobile_menu">
                        <div class="theme-color-dark position-relative ">
                            <span class="icon iconify" data-icon="bi:list"></span>
                        </div>
                        <span class="position-absolute start-50 translate-middle-x">CATEGORIAS</span>
                    </a>

                    <a class="d-md-none col d-flex align-items-center justify-content-center js-offcanvas-trigger" data-offcanvas-trigger="user_panel" href="#user_panel">
                        <div class="theme-color-dark position-relative">
                            <span class="icon iconify" data-icon="bi:person"></span>
                        </div>
                    </a>

                    @await Component.InvokeAsync("ShoppingCartLinks")

                </div>
            </div>

        </div>
    </div>
    <div class="col-12 promotion">
        <div class="container">
            <p>PROMOÇÃO: <strong>Frete Grátis</strong> em SP a partir de R$169,00 em compras</p>
        </div>
    </div>
    <nav class="navbar mainNav navbar-expand-sm offcanvas-desktop">
        <div class="navbar-collapse container">
            <ul class="navbar-nav">
                @await Component.InvokeAsync("TopMenu")
            </ul>
        </div>
    </nav>

</header>
