/* Imports */
@import 'bootstrap/bootstrap.scss';

/* Theme */
$theme-light: #F4F2F4;
$theme-dark: #4E4C4E;
$theme-dark-less: #6E6C6E;
$theme-primary-light: #00C2B8;
/*$theme-primary-light: #00D0C6;*/
$theme-primary-dark: #05A7A3;
$theme-secondary: #FAC60A;
$theme-danger: #dd2f2f;
$theme-danger-dark: #b22828;
$theme-divider-color: #9E9C9E;
$theme-border-color: #DEDCDE;
$theme-border-color-light: #EEECEE;
$theme-gray-50: #AEACAE;

.theme-color-gray-50 {
    color: $theme-gray-50;
}
.theme-color-dark {
    color: $theme-dark;
}

.theme-color-dark-less {
    color: $theme-dark-less;
}

.theme-color-primary {
    color:$theme-primary-light;
}

.theme-color-primary-dark {
    color: $theme-primary-dark;
}



/* Fonts */
@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Medium.ttf);
    font-weight: 500;
}

/* Icons */
.icon {
    font-size: 24px;
    width: 28px !important;
    height: 28px !important;
}

.icon-sm {
    font-size: 16px;
    width: 16px !important;
    height: 16px !important;
}

.icon-lg {
    font-size: 40px;
    width: 40px !important;
    height: 40px !important;
}

.icon-label {
    position:absolute;
    text-align:center;
    width: 100px;
    left: -30px;
    bottom: -15px;
}

.icon-quantity {
    border-radius: 100%;
    background: $theme-primary-dark;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    width: 18px;
    height: 18px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20px;
    top: -8px;
}
.icon-quantity:empty {
    display:none;
}


/* hr */
hr.gradient-divider {
    height: 2px;
    background-color: black;
    width: 250px;
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(150,25,150,1) 50%, rgba(0,212,255,0) 100%);
    border: none;
    margin-bottom: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

/* a */
a.theme-color-dark:hover {
    color: $theme-dark-less;
}

/* Inputs */
.theme-input {
    border: 1px solid $theme-dark-less;
    padding-left: 5px;
    padding-right: 5px;
    height: 40px;
}

.theme-input.rounded {
    border-radius: 25px !important;
}

.theme-input-line {
    border: 0;
    border-bottom: 1px solid $theme-border-color-light
}

.container-light .theme-input {
    border: 0;
}


/* Buttons */
.btn-rounded {
    border-radius: 100%;
    border: 1px solid $theme-border-color-light;
    width:40px;
    height:40px;
}

.btn-rounded.small {
    height: 30px;
    width: auto;
    min-width: 30px;
}

.theme-btn-primary {
    background-color: $theme-primary-light;
    border: none;
    color: white !important;
}

.theme-btn-primary.rounded {
    border-radius: 25px !important;
}

.theme-btn-primary:hover {
    background-color: $theme-primary-dark;
}

.theme-btn-danger {
    background-color: $theme-danger;
    border: none;
    color: white !important;
}
.theme-btn-danger:hover {
    background-color: $theme-danger-dark;
}

.theme-btn-white {
    background-color: white;
    color: $theme-dark-less;
    border: 1px solid $theme-border-color;
}

.theme-btn-white:hover {
    background-color: $theme-light;
}

.theme-btn {
    display: flex;
    align-items: center;
}

.theme-btn.rounded {
    border-radius: 25px !important;
}
/* Page */
.page-title-clean {
    padding: 25px 15px;
    background-color: $theme-dark;
    color: $theme-light;

    h2 {
        margin-bottom: 0;
        font-weight: 300;
    }
}

/* Container */
.container-white {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

.container-light {
    background-color: $theme-light;
    border-radius: 10px;
    padding: 5px;
}

/* Pagination */
.page nav {
    display: flex;
    justify-content: center;

    .pagination {
        box-shadow: none;
        display: flex;
        align-items: center;

        a {
            background-color: $theme-primary-light !important;
            color: white !important;
            margin-right: 5px;
            border-top-left-radius: 25px !important;
            border-top-right-radius: 25px !important;
            border-bottom-left-radius: 25px !important;
            border-bottom-right-radius: 25px !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        a:hover {
            background-color: $theme-primary-dark !important;
        }

        .individual-page a {
            width: 38px;
            height: 38px;
        }

        .current-page a {
            width: 48px;
            height: 48px;
            font-weight: bold !important;
            box-shadow: 0 0 0 0.25rem #EEE;
            margin-left: 2px;
            margin-right: 8px;
        }
    }
}

/* Search */

.search-form {
    padding: 3px;
    border: 1px solid $theme-divider-color;
    border-radius: 60px;

    input {
        border: none;
        margin-left: 15px !important;
    }

    input:active {
        border: none;
        box-shadow: none !important;
    }

    input:hover {
        border: none;
        box-shadow: none !important;
    }

    .search-box-button {
        background-color: $theme-primary-light;
        border: none;
        border-radius: 60px !important;
        width: 80px;
        color: white !important;
    }

    .search-box-button:hover {
        background-color: $theme-primary-dark;
    }
}

/* Header */
header {
    .promotion {
        background-color: $theme-primary-light;
        color: white;

        p {
            margin: 0;
            line-height: 1;
            padding: 4px 0;
        }
    }
}

/* Categories */
.page-filters {
    background-color: $theme-light;
    border-radius: 10px;
    padding: 10px;
}
.category .c-button__text {
    display: flex;
    position: relative;
    width: 100%;

    div {
        margin-left: auto;
        margin-right: auto;
    }

    span {
        font-size: 11px;
        color: $theme-dark-less;
        bottom: -8px !important;
    }
}

/* Left Panel*/
.left-panel {
    h2 {
        margin-top: 10px;
        font-size: 14px;
        text-transform:uppercase;

        strong {
            font-weight: 600;
        }
    }

    a:not(.btn) {
        color: $theme-dark !important;
    }

    li.active a {
        color: $theme-primary-light !important;
        font-weight: 600;
    }

    .viewBox {
        .picture {
            min-width: 64px;
            width: 64px;
            min-height: 64px;
            height: 64px;
        }

        margin-top: 0 !important;
        margin-bottom: 30px!important;
    }
}

.tab-content ul, .available-items ul {
    padding-left: 0 !important;
}

/* Product box*/

.product-grid {
    border-bottom: 1px solid #EEE;
}

.product-box-fixed-size {
    position: relative;
    min-height: 300px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;

    .product-picture {
        position: absolute;
        max-height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    a {
        color: $theme-dark;
    }

    a:hover {
        color: $theme-dark-less;
    }

    h5 {
        font-size: 15px;
    }

    .action-main {
        height: 45px;
        overflow: hidden;

        .prices {
            height: 46px;
            color: $theme-primary-dark;
            -webkit-transition: all .1s ease,-webkit-transform .1s ease;
            -moz-transition: all .1s ease,-webkit-transform .1s ease;
            -o-transition: all .1s ease,-webkit-transform .1s ease;
            transition: all .1s ease,-webkit-transform .1s ease;

            .discount-legend {
                color: $theme-dark-less;
                font-size: 11px;
                margin-top: -12px;
            }
        }

        .buy-button {
            -webkit-transition: all .1s ease,-webkit-transform .1s ease;
            -moz-transition: all .1s ease,-webkit-transform .1s ease;
            -o-transition: all .1s ease,-webkit-transform .1s ease;
            transition: all .1s ease,-webkit-transform .1s ease;
        }
    }

    .action-side {
        width: 55px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 57px;

        button {
            background-color: white;
            color: $theme-dark-less;
        }

        .icon {
            width: 20px !important;
            height: 20px !important;
        }
    }
    // Animations
    -webkit-transition: border .1s ease,-webkit-transform .1s ease;
    -moz-transition: border .1s ease,-webkit-transform .1s ease;
    -o-transition: border .1s ease,-webkit-transform .1s ease;
    transition: border .1s ease,-webkit-transform .1s ease;
}

.product-box-fixed-size:hover {
    border: 1px solid $theme-border-color-light;

    .action-main {
        .prices {
            margin-top: -45px;
        }
    }

    .action-side {
        padding-left: 5px;

        button {
            box-shadow: 0 0.135rem 0.25rem rgba(0, 0, 0, 0.15) !important;
        }
    }

    .product-picture {
        max-width: 110%;
        max-height: 110%;
    }
}

.featured-product-box-fixed-size {
    position: relative;
    min-height: 140px;
    border-bottom: 1px solid #EEE;

    h5 {
        color: $theme-dark;
        font-size: 14px;
        margin-top: 15px;
        margin-left: 10px;
        margin-bottom: 0;
    }

    .title {
        margin-bottom: -10px;
    }

    .product-picture {
        min-width: 130px;
        max-width: 130px;
        max-height: 130px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .prices {
        margin-left: 10px;
        color: $theme-primary-dark;

        .discount-legend {
            color: $theme-dark-less;
            font-size: 11px;
            margin-top: -6px;
        }
    }
}

.buy-button {
    margin-left: 10px;

    button {
        background-color: $theme-primary-dark;
        color: white;
        border: none;
        font-size: 13px;
        padding: 7px 7px;
        border-radius: 5px;
    }

    button:hover {
        background-color: $theme-primary-light;
    }

    button:disabled {
        background-color: $theme-light;
        color: $theme-dark-less;
    }
}

.featured-list {
    border-bottom: 0 !important;
}

.featured-product-container:last-child .featured-product-box-fixed-size {
    border-bottom: 0;
}

/* Product details*/

.product-details-page {
    .discontinued-product {
        h2 {
            font-weight: 300 !important;
            color: $theme-gray-50 !important;
        }
    }

    hr {
        background-color: $theme-divider-color;
    }

    .product-picture {
        max-width: 100%;
        max-height: 100%;
    }

    .picture-thumbs {
        .picture-thumb {
            max-width: 100px;
            max-height: 80px;
        }
    }

    h5 {
        font-size: 16px;
        font-weight: 600;
    }

    .prices {
        .actual-price {
            font-size: 22px;
            font-weight: 500;
            color: $theme-primary-dark;
        }

        .actual-price.have-discount {
            font-size: 14px !important;
            text-decoration: line-through;
            color: $theme-danger;
        }

        .old-price {
            font-size: 14px !important;
        }

        .price-with-discount {
            font-size: 22px;
            font-weight: 500;
            color: $theme-primary-dark;
        }

        margin-bottom: 10px;
    }

    .short-description {
        text-align: justify;
        line-height: 1.2;
        font-weight: 300;
        color: $theme-gray-50;
    }

    .add-to-cart {
        .quantity {
            display: inline-block;
            width: auto;
            min-width: 116px;
            border: 1px solid $theme-dark-less;
            border-radius: 20px;

            button {
                background-color: white;
                border: 0;
                border-radius: 15px !important;
                margin-left: 5px !important;
                margin-right: 5px !important;
            }

            button:hover {
                background-color: $theme-light;
            }

            input {
                width: 30px;
                border: 0;
            }

            input:focus {
                border: 0 !important;
            }
        }

        .add-to-cart-button {
            width: auto;
            height: 40px;
            padding: 5px 15px;
            background-color: $theme-primary-light;
            color: white;
            border: 0;
            border-radius: 25px !important;
            font-size: 12px;
            font-weight: 500;
        }

        .add-to-cart-button:hover {
            background-color: $theme-primary-dark;
        }



        .action-button {
            min-width: 40px;
            height: 40px;
            background-color: white;
            color: $theme-dark-less;
            border: 1px solid $theme-border-color-light;
            border-radius: 25px !important;

            .icon {
                width: 20px;
                height: 20px;
            }
        }

        .action-button:hover {
            background-color: $theme-light;
        }
    }

    .product-description {
        table {
            border-bottom: 0;
            width: 100%;
            min-width: 288px;
            max-width: 500px;

            tr {
                border-bottom: 1px solid $theme-border-color;
            }

            tr:last-child {
                border-bottom: 0;
            }

            td:last-child {
                padding-left: 10px;
            }
        }

        .tags {
            .tag-button {
                display: inline-block;
                min-width: 40px;
                height: 40px;
                padding: 5px 15px;
                font-size: 12px;
                font-weight: 600;
                background-color: $theme-primary-light;
                color: white;
                border-radius: 25px !important;

                .tag-button-badge {
                    display: inline-grid;
                    width: 18px;
                    height: 18px;
                    margin-left: 10px;
                    background-color: white;
                    color: $theme-primary-light;
                    font-size: 10px;
                    font-weight: 500;
                    text-align: center;
                    align-items: center;
                    border-radius: 20px;
                }
            }
        }
    }
}

.picture.small {
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
}

/* Modal Quickview */
#ModalQuickView {
    .modal-dialog {
        max-width: 900px;
        .modal-content {
            border: 0;
        }

        .close {
            display: flex;
            width: 30px;
            height: 30px;
            padding: 5px;
            margin-top: 5px;
            align-items: center;
            border-radius: 15px;
        }
    }
}

/* Modal product added to cart*/
.added-to-cart {
    .modal-content {
        border: 0;
        border-radius: 10px !important;
    }

    h5 {
        font-size: 14px;
    }

    img {
        max-height: 100% !important;
    }
}

/* Cart */

/* Flyout cart */
.flycart {
    min-width: 310px;

    .flycart-card {
        padding: 10px;
        border-radius: 10px;
        background-color: $theme-light;
    }

    .flycart-items {
        .item {
            margin-bottom: 10px;
        }

        .picture {
            max-width: 100px;
            max-height: 100px;
            min-width: 100px;
            min-height: 100px;
        }

        h5 {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 0;
        }

        p {
            margin-bottom: 5px;
        }

        .price {
            font-weight: 400;
            color: $theme-primary-dark;
        }
    }

    .payment-info {
        background-color: white;
        border-radius: 10px;
        padding: 5px;
    }
}

/* Order summary */
.order-summary {
    .order-products {
        .row {
            border-bottom: 1px solid $theme-border-color-light;
        }

        .picture {
            max-width: 100px;
            max-height: 100px;
            min-width: 100px;
            min-height: 100px;
        }

        h5{
            font-size: 14px;
            font-weight: 500;
        }

        .quantity {
            display: inline-block;
            width: auto;
            min-width: 116px;
            border: 1px solid $theme-dark-less;
            border-radius: 20px;

            button {
                background-color: white;
                border: 0;
                border-radius: 15px !important;
                margin-left: 5px !important;
                margin-right: 5px !important;
            }

            button:hover {
                background-color: $theme-light;
            }

            input {
                width: 30px;
                border: 0;
            }

            input:focus {
                border: 0 !important;
            }
        }

        .subtotal {
            font-size: 18px;
            font-weight: 500;
        }
    }

    .collateral {
        background-color: $theme-light;
        border-radius: 10px;
        padding: 10px;
    }

    .total {
        background-color: white;
        border-radius: 10px;
        padding: 5px;
        margin: 0;
    }
}

/* Onepage checkout */
.accordion {
    .accordion-header {
        button {
            font-size: 18px;

            .iconify {
                display: none;
            }
            
        }

        button:not(.collapsed) {
            background-color: $theme-primary-light;
            color: white;
        }

        button:not(.collapsed)::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
        }

        button:not([disabled]).collapsed {
            background-color: $theme-dark;
            color: white;

            .iconify {
                display: block;
            }
        }

        button:focus {
            box-shadow: none;
        }
    }
}

/* Home Page */

.home-page {
    .category-grid {
        .card {
            margin-bottom: 0;
            width: 100%;
            border: 0 !important;
            border-radius: 5px;
            padding: 5px !important;
            height: 100%;
            background-color: #FBFBFB;
            //box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15) !important;
        }

        h5 {
            font-size: 11px;
            color: $theme-dark;
        }
    }

    .product-grid {
        padding: 30px 0;
    }
}

/* Footer */
footer {
    background-color: $theme-dark;
    color: $theme-light;
    padding-top: 15px;
    padding-bottom: 60px;

    h1, h2, h3, h4, h5 {
        color: $theme-primary-light;
    }

    p {
        font-size: 13px;
    }

    ul {
        padding: 0;
    }

    a {
        color: $theme-primary-dark;
    }

    a:hover {
        color: $theme-primary-light;
    }
}

/* Utilities */
.square-box {
    position: relative;
    width: 100%;
}

.square-box:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.square-content {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.animate-short {
    -webkit-transition: all .1s ease,-webkit-transform .1s ease;
    -moz-transition: all .1s ease,-webkit-transform .1s ease;
    -o-transition: all .1s ease,-webkit-transform .1s ease;
    transition: all .1s ease,-webkit-transform .1s ease;
}

.shadow {
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-bottom {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1) !important;
}

.sr-only {
    display: none!important;
}

.c-offcanvas--left, .c-offcanvas--right {
    width: 300px;
}

/* Loading */
.loading,
.loading:after {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.loading {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 5px solid rgba(0, 194, 184, 0.2);
    border-right: 5px solid rgba(0, 194, 184, 0.2);
    border-bottom: 5px solid rgba(0, 194, 184, 0.2);
    border-left: 5px solid $theme-primary-light;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 0.5s infinite linear;
    animation: load8 0.5s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loading-wrapper {
    position: fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 2000;
    animation-name: loadingwrapper;
    animation-duration: .15s;
    animation-timing-function: ease-out;
}

@keyframes loadingwrapper {
    0% {
        opacity: 0;
        top: -70px;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes loadingwrapper {
    0% {
        opacity: 0;
        top: -70px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

/* Responsive */

@media (max-width: 575px) {
    .page nav {
        .pagination {
            .individual-page a {
                width: 30px;
                height: 30px;
            }

            .current-page a {
                width: 38px;
                height: 38px;
                font-weight: bold !important;
                box-shadow: 0 0 0 0.25rem #EEE;
                margin-left: 2px;
                margin-right: 8px;
            }

            .previous-page a, .next-page a {
                padding: 4px 2px;
                font-size: 12px;
            }

            .first-page {
                display: none;
            }

            .last-page {
                display: none;
            }
        }
    }
}

@media (max-width: 767px) {
    /* Header */
    .user-menu {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding:10px;
        background-color: white;
        box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15) !important;
        z-index: 2000;
    }

    /* Product box */
    .product-box-fixed-size {
        .action-main {
            height: 100px;
            margin-top: -15px;
        }

        .action-side {
            width: 35px;
            padding-left: 5px;
            overflow: visible;

            button {
                width: 26px;
                height: 26px;
                box-shadow: 0 0.135rem 0.25rem rgba(0, 0, 0, 0.15) !important;
            }

            .icon {
                width: 16px !important;
                height: 16px !important;
            }
        }
    }

    .product-box-fixed-size:hover {
        .action-main {
            .prices {
                margin-top: 0;
            }
        }
    }
}